<p id="notice"><%= notice %></p>

<h1>Übersicht der Event-Vorgang-Perioden-Zuordnungen</h1>

<table id="eve_jo_per_assoc" class="display">
  <thead>
    <tr>
      <th>Event</th>
      <th>Vorgang</th>
      <th>Periode</th>
      <th>Job end</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_job_period_associations.each do |event_job_period_association| %>
      <tr>
        <td><%= event_job_period_association.event.name %></td>
        <td><%= event_job_period_association.job.name %></td>
        <td><%= event_job_period_association.period.time%></td>
        <td><%= event_job_period_association.job_end%></td>
        <td><%= link_to 'Anzeigen', event_job_period_association %></td>
        <td><%= link_to 'Ändern', edit_event_job_period_association_path(event_job_period_association) %></td>
        <td><%= link_to 'Entfernen', event_job_period_association, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Event-Vorgang-Perioden-Zuordnung', new_event_job_period_association_path %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>