<% provide(:title, "EvenTraum") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<ul class="bxslider">
  <div style="text-align:center"><%=image_tag("Image_0.png") %></div>
  <div style="text-align:center"><%=image_tag("Image_1.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_3.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_5.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_6.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_7.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_8.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_9.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_10.jpg") %></div>
  <div style="text-align:center"><%=image_tag("Image_12.jpg") %></div>
</ul>
</html>