<% provide(:title, "Impressionen") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<div class="span8">
  <ul class="microposts">
    <% @microposts.each do |micropost| %>
        <li>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        </li>
    <% end %>
    </ul>
  </div>
</body>

</html>
