<% provide(:title, "Angebot") %>
<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>EvenTraum realisiert das Event Ihrer Träume</h1>
<br>
<p>Entscheiden Sie selbst, was zu Ihrem persönlichen EvenTraum dazu gehört:
  Ob Catering, Entertainment oder die passende Raumdekoration, wir kümmern uns für Sie um all Ihre Wünsche.
  Mit viel Engagement, Liebe zum Detail und geschultes Personal bieten wir einen rundum Service der besonderen Art an.
  Unser Ziel besteht darin, einzigartige und unvergessliche Erlebnismomente für Sie und Ihre Gäste zu erschaffen.
  Es ist unser Herzensanliegen Ihnen ein  perfektes Event zu organisieren.</p>
</body>
<body>
<div class="info">
  <div style==><%=image_tag("Image_8.jpg", width: "500", height:  "300") %></div>
  <p>Unser Depot an Räumen erlaubt es uns jegliche Art von Veranstaltungen zu organisieren. Sei es die Hochzeit, Geburtstage, Firmenevents, etc.. Ebenfalls wird für die dem Anlass entsprechende Dekorationen der Räume gesorgt, teilen Sie uns Ihre Wünsche mit.
    Ihre Träume sind keine Grenzen gesetzt</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
</body>
<body>
<div class="info">
    <div style=><%=image_tag("Image_3.jpg", width: "500", height: "300")%></div>
    <p> Wir bieten im Bereich des Catering variantenreiche Küchen an, die sich über die orientalische, kulinarische, spanische, italienische und deutsche Küche erstreckt. Unser vielfältiges Angebot kann sowohl als Buffet  als auch als Menü serviert werden.
    </p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<body>
  <div class="info">
    <div style=><%=image_tag("Image_10.jpg", width: "500", height: "300")%></div>
    <p>  Im Bereich des Entertainment bieten wir Life Musik, Orchester und DJs an.</p>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<br><br><br><br>
<p>Fordern Sie uns heraus –wir  freuen uns auf Sie!</p>

</html>
