<%= form_for(@job) do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Event auswählen' %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name%>
  </div>
    <div class="field">
      <%= f.label 'Vorgang' %><br>
      <%= f.collection_select(:id, Job.all,:id,:name) %>
    </div>

    <div class="field">
      <%= f.label 'Hier ist Raum für Ihre Träume bezüglich Ihres Events.' %><br>
      <%= f.text_area :jobtext%>
  </div>

    <div class="field">
      <%= f.label 'Vorgangsdauer' %><br>
      <%= f.text_field :processing_time, type: "number", min:0, max:3, required: "required" %>
    </div>
  <div class="field">
    <%= f.label 'Ressourcenbedarf' %><br>
    <%= f.number_field :ressource_demand, type: "number", min:1, max:3, required: "required" %>
  </div>
  <div class="actions">
    <%= f.submit 'Neuen Vorgang anlegen', {:class => "btn btn-primary"} %>
  </div>
<% end %>

