<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table id="jobs" class="display">
  <thead>
    <tr>
      <th>Event</th>
      <th>Vorgang</th>
      <th>Beschreibung</th>
      <th>Vorgangsdauer</th>
      <th>Ressourcenbedarf</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.event.name %></td>
        <td><%= job.name %></td>
        <td><%= job.jobtext %></td>
        <td><%= job.processing_time %></td>
        <td><%= job.ressource_demand %></td>
        <td><%= link_to 'Anzeigen', job %></td>
        <td><%= link_to 'Ändern', edit_job_path(job) %></td>
        <td><%= link_to 'Entfernen', job, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Vorgang', new_job_path %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
