<% provide(:title, "Vorgänge") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= best_in_place @job, :name %>
</p>

<p>
  <strong>Vorgang:</strong>
  <%=  best_in_place @job, :name %>
</p>
<p>
  <strong>Beschreibung:</strong>
  <%=  best_in_place @job, :jobtext %>
</p>

<p>
  <strong>Vorgangsdauer:</strong>
  <%=  best_in_place @job, :processing_time %>
</p>

<p>
  <strong>Ressourcenbedarf:</strong>
  <%=  best_in_place @job, :ressource_demand %>
</p>

<%= link_to 'Ändern', edit_job_path(@job) %> |
<%= link_to 'Zurück', jobs_path %>
