<p id="notice"><%= notice %></p>

<h1>Übersicht der Gams-Pfade</h1>

<table id="gams_paths" class="display">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gams_paths.each do |gams_path| %>
      <tr>
        <td><%= 'GAMS Path' %></td>
        <td><%= gams_path.gams_path_url %></td>
        <td><%= link_to 'Ändern', edit_gams_path_path(gams_path) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

