@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

thead {
  background-color: white;
}

body {
  padding-top: 60px;
  background-color: white
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  color: #17375e;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #17375e;
  font-family: "Lucida Calligraphy";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #17375e;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #17375e;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #17375e;
}

a {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #17375e;
}


/* header */

/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid white;
  color: #17375e;
  a {
    color: #17375e;
    &hover {
      color: #17375e;
    }
  }
  a { color: #17375e;
    font-family: "Lucida Calligraphy";

  }

  small {
    float: left;
    color: #17375e;
  }

  ul {
    float: right;
    list-style: none;
    color: #17375e;
  }
  ul li {
    float: left;
    margin-left: 15px;
    color: #17375e;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  background-color: white;
  border-color: white;
  color: red;
  ul {
    background-color: white;
    border-color: white;
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  background-color: white;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* added */

.container :hover {
  color: #17375e;
  background-color: rgba(255, 255, 255, 0);
}

.navbar {
  background-color: #17375e !important;
  border-color: white !important;
}

.dropdown {
  .dropdown-menu {
    background-color: white !important;
  }
  .dropdown-toggle {
    background-color: #17375e !important;
  }
}

.btn-primary {
  background-color: #17375e;
  color: white;
  border-color: #17375e;
}

div.image {
  float: left;
  width: 300px;
  height: 100px;
}

div.button {
  width: 380px;
  margin: auto;
  color: #17375e;
  border-color: #17375e;
}

#notice {
  color: #17375e;
}
.info {
  position: relative;
  margin-top: 25px;
}

.info p {
  margin-left: 40%;
  padding: 1em 1em 1em 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #17375e;
}

.info img {
  position: absolute;
  left: 8%;
  top: 1em;
  margin-left: -85px;
  border: 1px solid transparent;
}

